## Ouput: Calculation of Estimated Salary

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
import pickle

In [22]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Preprocess the Data

In [23]:
df=df.drop(columns=["RowNumber","CustomerId","Surname"],axis=1)

In [24]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Label Encoder of Gender

In [25]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])

In [26]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

## One Hot Encoding for Geography

In [27]:
onehot_encoder_geo=OneHotEncoder(sparse_output=False)
geo_encoded=onehot_encoder_geo.fit_transform(df[['Geography']])

In [28]:
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

## Combine With Original DataFrame

In [29]:
df=pd.concat([df.drop(columns=["Geography"],axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

## Split The data into Dependent and Independent

In [30]:
X=df.drop(columns=["EstimatedSalary"],axis=1)
y=df['EstimatedSalary']

## Train Test Split

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

### Standard Scalar

In [32]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

## Save the encoder and scaler

In [33]:
with open("label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("onehot_encoder_geo.pkl","wb")as file:
    pickle.dump(onehot_encoder_geo,file)

with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## ANN Regression Problem Statement

In [35]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

### Build the model

In [37]:
X_train.shape[1],

(12,)

In [39]:
model=Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    Dense(32,activation="relu"),
    Dense(1) # Default applied acitvation function is Linear Activation Function - > this is for Regression
])

## Compile the Model

In [40]:
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

WARNING:tensorflow:From c:\PYTHON\Python_Udemy\Projects\ANN Classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Logs

In [42]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

## Setup the Tensorboard
log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y-%m-%d__%H-%M-%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [43]:
## Setup EarlyStopping
early_stopping_callback=EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

### Train the Model

In [45]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\PYTHON\Python_Udemy\Projects\ANN Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\PYTHON\Python_Udemy\Projects\ANN Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 4ms/step - loss: 100393.2578 - mae: 100393.2578 - val_loss: 98575.0469 - val_mae: 98575.0469
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99834.8203 - mae: 99834.8203 - val_loss: 97437.9375 - val_mae: 97437.9375
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97836.7266 - mae: 97836.7266 - val_loss: 94496.2734 - val_mae: 94496.2734
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 93822.5078 - mae: 93822.5078 - val_loss: 89434.3047 - val_mae: 89434.3047
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 87788.2812 - mae: 87788.2812 - val_loss: 82615.2500 - val_mae: 82615.2500
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 80233.7188 - mae: 80233.7188 - val_loss: 74786.6641 - val_mae: 74786.6641
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 72137.6797 - mae: 72137.6797 - val_loss: 67230.8672 - val_mae: 67230.8672
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 64696.4062 - mae: 64696.4062 - val_loss: 60900.3984 - val_mae: 60900.3984
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 58774.1484 - mae: 58774.1484 - val_loss: 56261.2305 - val_mae: 56261.2305
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 54822.6797 - mae: 54822.6797 - val_loss: 53462.4570 - val_mae: 53462.4570
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 52531.4531 - mae: 52531.4531 - val_loss: 52048.5391 - val_mae: 52048.5391
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 51439.0352 - mae: 51439.0352 - val_loss: 51541.6289 - val_mae: 51541.6289
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50954.5508 - mae: 50954.5508 - val_loss: 51321.7070 - val_mae: 51321.7070
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50736.2344 - mae: 50736.2344 - val_loss: 51225.3516 - val_mae: 51225.3516
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50601.3281 - mae: 50601.3281 - val_loss: 51142.8711 - val_mae: 51142.8711
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50511.6484 - mae: 50511.6484 - val_loss: 51079.8477 - val_mae: 51079.8477
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50435.3945 - mae: 50435.3945 - val_loss: 51014.3906 - val_mae: 51014.3906
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50367.0938 - mae: 50367.0938 - val_loss: 50955.1797 - val_mae: 50955.1797
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50305.8633 - mae: 50305.8633 - val_loss: 50906.5195 - val_mae: 50906.5195
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50252.6992 - mae: 50252.6992 - val_loss: 50864.4375 - val_mae: 50864.4375
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 50198.3008 - mae: 50198.3008 - val_loss: 50812.5938 - val_mae: 50812.5938
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 50151.4922 - mae: 50151.4922 - val_loss: 50774.5781 - val_mae: 50774.5781
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 50104.0898 - mae: 50104.0898 - val_loss: 50732.5039 - val_mae: 50732.5039
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 50065.2578 - mae: 50065.2578 - val_loss: 50698.7812 - val_mae: 50698.7812
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 50030.2109 - mae: 50030.2109 - val_loss: 50666.7695 - val_mae: 50666.7695
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49994.7383 - mae: 49994.7383 - val_loss: 50639.5469 - val_mae: 50639.5469
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49965.4141 - mae: 49965.4141 - val_loss: 50605.7852 - val_mae: 50605.7852
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49932.3711 - mae: 49932.3711 - val_loss: 50582.8516 - val_mae: 50582.8516
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49904.2578 - mae: 49904.2578 - val_loss: 50560.5508 - val_mae: 50560.5508
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49877.7617 - mae: 49877.7617 - val_loss: 50535.5977 - val_mae: 50535.5977
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49855.4531 - mae: 49855.4531 - val_loss: 50505.1523 - val_mae: 50505.1523
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49831.0312 - mae: 49831.0312 - val_loss: 50490.6641 - val_mae: 50490.6641
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49810.4609 - mae: 49810.4609 - val_loss: 50475.8008 - val_mae: 50475.8008
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49787.2891 - mae: 49787.2891 - val_loss: 50460.0234 - val_mae: 50460.0234
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49767.2812 - mae: 49767.2812 - val_loss: 50439.6016 - val_mae: 50439.6016
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49749.8047 - mae: 49749.8047 - val_loss: 50429.1719 - val_mae: 50429.1719
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49731.7578 - mae: 49731.7578 - val_loss: 50411.8945 - val_mae: 50411.8945
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49714.9609 - mae: 49714.9609 - val_loss: 50394.8242 - val_mae: 50394.8242
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49699.3945 - mae: 49699.3945 - val_loss: 50384.5039 - val_mae: 50384.5039
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49685.7812 - mae: 49685.7812 - val_loss: 50372.6836 - val_mae: 50372.6836
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49671.7539 - mae: 49671.7539 - val_loss: 50358.4805 - val_mae: 50358.4805
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49660.0664 - mae: 49660.0664 - val_loss: 50356.1562 - val_mae: 50356.1562
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49646.8320 - mae: 49646.8320 - val_loss: 50354.5742 - val_mae: 50354.5742
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49636.5938 - mae: 49636.5938 - val_loss: 50345.9766 - val_mae: 50345.9766
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49624.4453 - mae: 49624.4453 - val_loss: 50338.5078 - val_mae: 50338.5078
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49614.3438 - mae: 49614.3438 - val_loss: 50324.3594 - val_mae: 50324.3594
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49603.7773 - mae: 49603.7773 - val_loss: 50316.4219 - val_mae: 50316.4219
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49593.7422 - mae: 49593.7422 - val_loss: 50309.4727 - val_mae: 50309.4727
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49583.0898 - mae: 49583.0898 - val_loss: 50308.1719 - val_mae: 50308.1719
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49571.2773 - mae: 49571.2773 - val_loss: 50299.4922 - val_mae: 50299.4922
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49562.2031 - mae: 49562.2031 - val_loss: 50301.8281 - val_mae: 50301.8281
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49556.4297 - mae: 49556.4297 - val_loss: 50293.0469 - val_mae: 50293.0469
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49546.4961 - mae: 49546.4961 - val_loss: 50287.4961 - val_mae: 50287.4961
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49536.4961 - mae: 49536.4961 - val_loss: 50288.6367 - val_mae: 50288.6367
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49531.3359 - mae: 49531.3359 - val_loss: 50289.8008 - val_mae: 50289.8008
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49522.8398 - mae: 49522.8398 - val_loss: 50282.0195 - val_mae: 50282.0195
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49515.1719 - mae: 49515.1719 - val_loss: 50289.6680 - val_mae: 50289.6680
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49509.3438 - mae: 49509.3438 - val_loss: 50281.6836 - val_mae: 50281.6836
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49502.7188 - mae: 49502.7188 - val_loss: 50269.6719 - val_mae: 50269.6719
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49497.9102 - mae: 49497.9102 - val_loss: 50277.8984 - val_mae: 50277.8984
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49489.3555 - mae: 49489.3555 - val_loss: 50267.8398 - val_mae: 50267.8398
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49484.8477 - mae: 49484.8477 - val_loss: 50264.3125 - val_mae: 50264.3125
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49478.4961 - mae: 49478.4961 - val_loss: 50272.5312 - val_mae: 50272.5312
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49469.9492 - mae: 49469.9492 - val_loss: 50263.8906 - val_mae: 50263.8906
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49465.4102 - mae: 49465.4102 - val_loss: 50267.7227 - val_mae: 50267.7227
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 49462.4258 - mae: 49462.4258 - val_loss: 50271.0156 - val_mae: 50271.0156
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49453.7031 - mae: 49453.7031 - val_loss: 50265.0195 - val_mae: 50265.0195
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 49449.5977 - mae: 49449.5977 - val_loss: 50271.8867 - val_mae: 50271.8867
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49446.9766 - mae: 49446.9766 - val_loss: 50267.9219 - val_mae: 50267.9219
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49441.5117 - mae: 49441.5117 - val_loss: 50276.5898 - val_mae: 50276.5898
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 49433.5703 - mae: 49433.5703 - val_loss: 50267.4883 - val_mae: 50267.4883
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49429.6328 - mae: 49429.6328 - val_loss: 50264.5664 - val_mae: 50264.5664
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 49423.8672 - mae: 49423.8672 - val_loss: 50276.5859 - val_mae: 50276.5859
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 49422.2383 - mae: 49422.2383 - val_loss: 50271.4062 - val_mae: 50271.4062

In [46]:
%load_ext tensorboard

In [49]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 12548), started 0:00:18 ago. (Use '!kill 12548' to kill it.)

## Evaluate model for the test data

In [50]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print("Test MAE: ",test_mae)
print("Test LOSS: ",test_loss)

63/63 [==============================] - 0s 2ms/step - loss: 50263.8906 - mae: 50263.8906
Test MAE:  50263.890625
Test LOSS:  50263.890625

## Save the model

In [51]:
model.save("regression_model.h5")

c:\PYTHON\Python_Udemy\Projects\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [52]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0