## Ouput: Calculation of Estimated Salary

In [102]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
import pickle

In [103]:
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Preprocess the Data

In [104]:
df=df.drop(columns=["RowNumber","CustomerId","Surname"],axis=1)

In [105]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Label Encoder of Gender

In [106]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])

In [107]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

## One Hot Encoding for Geography

In [108]:
onehot_encoder_geo=OneHotEncoder(sparse_output=False)
geo_encoded=onehot_encoder_geo.fit_transform(df[['Geography']])

In [109]:
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

## Combine With Original DataFrame

In [110]:
df=pd.concat([df.drop(columns=["Geography"],axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

## Split The data into Dependent and Independent

In [111]:
X=df.drop(columns=["EstimatedSalary"],axis=1)
y=df['EstimatedSalary']

## Train Test Split

In [112]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

### Standard Scalar

In [113]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

## Save the encoder and scaler

In [114]:
with open("regression_label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)

with open("regression_onehot_encoder_geo.pkl","wb")as file:
    pickle.dump(onehot_encoder_geo,file)

with open("regression_scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## ANN Regression Problem Statement

In [115]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

### Build the model

In [116]:
X_train.shape[1],

(12,)

In [117]:
model=Sequential([
    Dense(64,activation="relu",input_shape=(X_train.shape[1],)),
    Dense(32,activation="relu"),
    Dense(1) # Default applied acitvation function is Linear Activation Function - > this is for Regression
])

## Compile the Model

In [118]:
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 64)                832

 dense_13 (Dense)            (None, 32)                2080

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Logs

In [119]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

## Setup the Tensorboard
log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y-%m-%d__%H-%M-%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [120]:
## Setup EarlyStopping
early_stopping_callback=EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

### Train the Model

In [121]:
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100374.2812 - mae: 100374.2812 - val_loss: 98506.0000 - val_mae: 98506.0000
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99594.7578 - mae: 99594.7578 - val_loss: 96944.5703 - val_mae: 96944.5703
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 96844.5312 - mae: 96844.5312 - val_loss: 92877.2734 - val_mae: 92877.2734
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 91326.1250 - mae: 91326.1250 - val_loss: 86034.3594 - val_mae: 86034.3594
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 83315.3047 - mae: 83315.3047 - val_loss: 77266.5078 - val_mae: 77266.5078
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 73990.2188 - mae: 73990.2188 - val_loss: 68279.7812 - val_mae: 68279.7812
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 65078.7969 - mae: 65078.7969 - val_loss: 60583.2539 - val_mae: 60583.2539
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 58144.5859 - mae: 58144.5859 - val_loss: 55290.4531 - val_mae: 55290.4531
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 53819.8398 - mae: 53819.8398 - val_loss: 52412.3047 - val_mae: 52412.3047
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 51618.2461 - mae: 51618.2461 - val_loss: 51263.2812 - val_mae: 51263.2812
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 50737.0234 - mae: 50737.0234 - val_loss: 50879.3438 - val_mae: 50879.3438
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50427.8594 - mae: 50427.8594 - val_loss: 50727.3594 - val_mae: 50727.3594
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50265.1719 - mae: 50265.1719 - val_loss: 50631.0117 - val_mae: 50631.0117
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50168.9023 - mae: 50168.9023 - val_loss: 50558.3672 - val_mae: 50558.3672
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50098.8789 - mae: 50098.8789 - val_loss: 50513.2148 - val_mae: 50513.2148
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50044.5391 - mae: 50044.5391 - val_loss: 50476.6133 - val_mae: 50476.6133
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 49998.6250 - mae: 49998.6250 - val_loss: 50441.2344 - val_mae: 50441.2344
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 49957.0703 - mae: 49957.0703 - val_loss: 50414.7383 - val_mae: 50414.7383
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49920.9805 - mae: 49920.9805 - val_loss: 50398.1641 - val_mae: 50398.1641
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49889.9141 - mae: 49889.9141 - val_loss: 50384.7344 - val_mae: 50384.7344
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49857.1719 - mae: 49857.1719 - val_loss: 50360.5078 - val_mae: 50360.5078
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49832.3281 - mae: 49832.3281 - val_loss: 50351.3633 - val_mae: 50351.3633
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49802.8633 - mae: 49802.8633 - val_loss: 50332.3828 - val_mae: 50332.3828
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49777.1406 - mae: 49777.1406 - val_loss: 50324.3281 - val_mae: 50324.3281
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49756.3477 - mae: 49756.3477 - val_loss: 50311.8867 - val_mae: 50311.8867
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49733.2031 - mae: 49733.2031 - val_loss: 50309.3086 - val_mae: 50309.3086
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49710.7031 - mae: 49710.7031 - val_loss: 50301.5625 - val_mae: 50301.5625
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49693.6992 - mae: 49693.6992 - val_loss: 50299.7070 - val_mae: 50299.7070
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49679.6602 - mae: 49679.6602 - val_loss: 50279.9688 - val_mae: 50279.9688
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49660.1211 - mae: 49660.1211 - val_loss: 50283.7109 - val_mae: 50283.7109
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49643.6484 - mae: 49643.6484 - val_loss: 50274.7461 - val_mae: 50274.7461
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49629.1797 - mae: 49629.1797 - val_loss: 50264.8359 - val_mae: 50264.8359
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49617.5352 - mae: 49617.5352 - val_loss: 50255.8047 - val_mae: 50255.8047
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49604.6680 - mae: 49604.6680 - val_loss: 50268.3086 - val_mae: 50268.3086
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49591.9883 - mae: 49591.9883 - val_loss: 50266.9922 - val_mae: 50266.9922
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49579.2383 - mae: 49579.2383 - val_loss: 50262.2070 - val_mae: 50262.2070
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49569.5117 - mae: 49569.5117 - val_loss: 50260.7695 - val_mae: 50260.7695
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49561.3750 - mae: 49561.3750 - val_loss: 50255.5391 - val_mae: 50255.5391
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49545.9922 - mae: 49545.9922 - val_loss: 50248.7461 - val_mae: 50248.7461
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49538.0312 - mae: 49538.0312 - val_loss: 50269.2305 - val_mae: 50269.2305
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49525.8789 - mae: 49525.8789 - val_loss: 50250.9531 - val_mae: 50250.9531
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49517.4258 - mae: 49517.4258 - val_loss: 50249.7930 - val_mae: 50249.7930
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49509.1953 - mae: 49509.1953 - val_loss: 50251.8789 - val_mae: 50251.8789
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49499.3867 - mae: 49499.3867 - val_loss: 50255.0547 - val_mae: 50255.0547
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49491.1211 - mae: 49491.1211 - val_loss: 50268.5781 - val_mae: 50268.5781
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49484.4219 - mae: 49484.4219 - val_loss: 50255.8594 - val_mae: 50255.8594
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49475.4375 - mae: 49475.4375 - val_loss: 50254.8242 - val_mae: 50254.8242
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49468.8320 - mae: 49468.8320 - val_loss: 50260.3398 - val_mae: 50260.3398
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49464.2773 - mae: 49464.2773 - val_loss: 50268.3125 - val_mae: 50268.3125

### Save the model

In [ ]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [124]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 12548), started 15:17:17 ago. (Use '!kill 12548' to kill it.)

## Evaluate model for the test data

In [125]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print("Test MAE: ",test_mae)
print("Test LOSS: ",test_loss)

63/63 [==============================] - 0s 812us/step - loss: 50248.7461 - mae: 50248.7461
Test MAE:  50248.74609375
Test LOSS:  50248.74609375

## Save the model

In [126]:
model.save("regression_model.h5")

In [127]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0